@import '../../variables.scss';

.contact_container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 3rem;
}

.contact_title {
    text-align: center;
    font-size: $h3-font-size;
    font-weight: $font-medium;
    margin-bottom: $mb-1-5;
}

.contact_info {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
}

.contact_card {
    background-color: $container-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;
}

.contact_card-icon {
    height: 2rem;
    color: $title-color;
    margin-bottom: $mb-0-25;
}

.contact_card-title,
.contact_card-data {
    font-size: $small-font-size;
}

.contact_card-title {
    font-weight: $font-medium;
}

.contact_card-data {
    color: #fff;
    display: block;
    margin-bottom: $mb-0-75;
}

a {
    color: $body-color;
    font-size: $small-font-size;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
    padding-top: $mb-0-5;
}


.contact_button-icon {
    background-color: transparent;
}
.contact_button:hover .contact_button-icon, a{
    transform: translate(0.25rem);
}

.contact_form {
    width: 360px;
}

.contact_form-div {
    position: relative;
    margin-bottom: $mb-2;
    height: 4rem;
}

.contact_form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: none;
    color: $text-color;
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
}

.contact_form-tag {
    color: $container-color;
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: $smaller-font-size;
    padding: 0.25rem;
    background-color: $body-color;
    z-index: 10;
}

.contact_form-area {
    height: 15rem;
}

.contact_form-area textarea {
    resize: none;
}

// Breakpoints
// For large devices
@media screen and (max-width: 992px) {
    .contact_container {
        column-gap: 3rem;
    }
}

// For medium devices
@media screen and (max-width: 768px) {
    .contact_container {
        grid-template-columns: 1fr;
        row-gap: 3rem;

        .contact_info {
            justify-content: center;
        }

        .contact_form {
            margin: 0 auto;
        }
    }
}

// For small devices
@media screen and (max-width: 576px) {
    .contact_info {
        grid-template-columns: 1fr;
    }
    .contact_form {
        width: 100%;
    }
}
